
<% if (everyauth.loggedIn) { %>



<% } else { %>

<section id="done">
    <label class="section_header">Done</label>
    <ol>
    </ol>
</section>
<section id="current">
    <label class="section_header">Current</label>
    <ol>
    </ol>
</section>
<section id="backlog">
    <label class="section_header">Backlog</label>
    <ol>
    </ol>
</section>
<section id="icebox">
    <label class="section_header">Icebox     <a href="#" id="addNewItem" onclick="addNewItem(event);">+</a></label>
    <ol>
    </ol>
</section>
        

<% } %>